@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} 

body{
    background-color: rgb(192, 192, 192);
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#pokedex{
    width: 29.7rem;
    height: 47.25rem;
    background-color: rgb(116,203,72);
    border-radius: 8px;
    padding: 0.3rem;
}
#top{
    height: 35%;
    padding: 1.5rem;
    background:url('../images/pokeball.png') ;
    background-repeat: no-repeat;
    background-position: right;
}
#top-bar{
    display: flex ;
    justify-content: space-evenly;
    color: white;
    align-items: center;
    /* padding: 0 1.2rem; */
}
#search-icon{
    height: 20px;
    width: 20px;
    /* transform: translateY(0.5rem);     */
}
#search{
    color: white;
    background: none;
    border: none;
    font-size: 1.75rem;
    font-weight: bolder;
    width:75%;
    border-bottom: 2.5px solid transparent;
}
#search:hover{
    border-bottom: 2.5px solid rgba(255, 255, 255, 0.3);
}

#search:focus{    
    outline: none;
    border-bottom: 2.5px solid white;
}
#number{
    font-weight: bold;
    font-size: 1rem;
}
#pokemon-image{
    width: 270px;
    height: 270px;
}
#pokemon-image-placeholder{
    display: flex;
    justify-content: center;
    /* transform: translateY(3.25rem); */
}
#data{
    background-color: white;
    height: 65%;
    border-radius: 8px;
    padding-top: 5.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#type{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}
.type{
    color: white;
    padding: 0.2rem 0.75rem;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
}
#weight{
    display: flex;
    flex-direction: column;
    padding-right: 2.5rem;
    border-right:1px solid rgb(160, 160, 160);
    justify-content:space-between;
    /* border:1px solid black; */
}
#weight-scale{
    width: 20px;
    height: 20px;
    transform: translateY(0.3rem);
}
#height{
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
    border-right:1px solid rgb(160, 160, 160);
    justify-content: space-between;
    /* border:1px solid black; */

}
/* #about{
    border: 1px solid black;
} */
#ruler{
    width: 20px;
    height: 20px;
    transform: translateY(0.3rem);
}
#data h3{
    text-align: center;
}
#stats{
    width: 85%;
    font-size: 0.8rem;
    gap: 0.6rem;
    transform: translateY(-0.2rem);
}
#moves{
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    /* border: 1px solid black; */
    text-align: center;
    justify-content: space-between;
}
#about{
    width: 75%;
    display:flex;
    gap:1rem;
    justify-content: space-between;
    transform: translateY(-0.4rem);
}
#description{
    font-size: 0.85rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    text-align: justify;
    /* transform: translateY(0.5rem); */
}
#heading{    
    transform: translateY(-0.2rem);
    justify-content: center;
    height: 20px;
    font-size: 0.65rem;
    font: rgb(161, 161, 161);
    display: flex;
    gap: 2.5rem;
    transform: translateY(0.2rem);
    /* border:1px solid black; */
}

.stat-row{
    display: flex;
}
.stat-description,.stat-number{
    width: 15%;
}
.stat-description{
    color: rgb(116,203,72);
    font-weight: bold;
    text-align: right;
    padding-right: 0.5rem ;
    border-right: 1.5px solid rgba(160, 160, 160,0.7);
}
.stat-number{
    padding-left: 0.6rem;
}
.stat-bar{
    width:70%;
    display: flex;
    align-items: center;
}
.bar-outer{
    background-color: rgba(116,203,72,0.3);
    display: flex;
    width: 100%;
    height: 0.3rem;
    border-radius: 4px;
}
.bar-inner{
    background-color: rgb(116,203,72);
    border-radius: 4px;
}